<!-- Page Banner -->
<section class="page-banner">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-content">
                <h1>Parship Is The Winner Of 2018</h1>
                <div class='rating-stars'>
                    <ul id='stars'>
                        <li class='star selected' data-value='1'>
                            <i>★</i>
                        </li>
                        <li class='star selected' data-value='2'>
                            <i>★</i>
                        </li>
                        <li class='star selected' data-value='3'>
                            <i>★</i>
                        </li>
                        <li class='star' data-value='4'>
                            <i>★</i>
                        </li>
                        <li class='star' data-value='5'>
                            <i>★</i>
                        </li>
                    </ul>
                </div>
                <p>After many tough tests and exams, Parship has become the test winner, undoubtedly the largest and
                    best dating site with the highest success rate.</p>
                <a class="btn" href="" target="_blank" rel="noopener" data-goal-name="{{ item.name }}">Click To Test
                    The Winner</a>
            </div>
            <div class="banner-widget">
                <div class="laptop">
                    <!-- <img src="img/laptop-datingde.png" alt=""> -->
                </div>
                <div class="phone">
                    <!-- <img src="img/phone.svg" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Page Banner -->