<!-- Page Banner -->
<section class="page-banner">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-content">
                <h1>Parship Is The Winner Of 2018</h1>
                //= ./stars.html
                <p>After many tough tests and exams, Parship has become the test winner, undoubtedly the largest and
                    best dating site with the highest success rate.</p>
                <a class="btn" href="" target="_blank" rel="noopener" data-goal-name="{{ item.name }}">Click To Test
                    The Winner</a>
            </div>
            <div class="banner-widget">
                <div class="laptop">
                    <img src="img/laptop.png" alt="">
                    <div class="laptop-content">
                        <img src="https://picsum.photos/335/220/?random" alt="">
                    </div>
                </div>
                <div class="phone">
                    <img src="img/phone.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Page Banner -->