<!-- Site Bottom -->
<section class="site-bottom">
    <div class="container">
        <div class="site-bottom-wrapper">
            <img class="bottom-couple" src="img/layers/couple.svg" alt="couple" />
            <div class="site-bottom--content">
                <h1>You wanna fall in love?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. </p>
                <div class="btn-groupe">
                    <a class="btn btn-yes" href="" target="_blank" rel="noopener" data-goal-name="{{ item.name }}">Yes, I
                        want a lover!</a>
                    <a class="btn btn-no button--quidel" href="" target="_blank" rel="noopener" data-goal-name="{{ item.name }}">No,
                        I will stay alone.</a>
                </div>
                <img class="bottom-hearts" src="img/layers/hearts.svg" alt="hearts" />
            </div>
        </div>
    </div>
</section>
<!-- /Site Bottom -->
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <nav class="navbar">
            <div class="copyright">© All Rights Reserved. 2018.</div>
            <div class="navbar-brand">
                <a class="nav-logo" href="/">
                    <img src="img/logo.svg" alt="logo">
                </a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="page.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="page.html">Terms & Conditions</a></li>
                <li class="nav-item"><a class="nav-link" href="page.html">Privacy Policy</a></li>
                <li class="nav-item"><a class="nav-link" href="page.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</footer>
<!-- /Footer -->