/*!
=====================================================
                   =   Filter   =
=====================================================
*/

.filter-by {
  margin: 25px 0;
  h1 {
    color: $blue;
    font-size: 25px;
    font-weight: $fw-600;
    line-height: 38px;
    margin-bottom: 10px;
  }
  p {
    width: 80%;
    color: $black;
    text-align: justify;
    font-size: $ftz-small;
    line-height: 21px;
  }
  .filter-block {
    margin: 20px 0;
    position: relative;
    line-height: 17px;
    font-size: $ftz-extra-small;
    span {
      display: inline-block;
      color: $black;
      margin-right: 18px;
    }
    .checkbox-block {
      display: inline-block;
      margin-right: 20px;
      label {
      }
    }

    // .styled-checkbox:checked + label {
    //   color: $black;
    // }

    // .styled-checkbox:checked + label:before {
    //   background-size: 13px 9px;
    //   background-repeat: no-repeat;
    //   background-position: 50% 50%;
    // }

    // .styled-checkbox:disabled + label {
    //   color: #b8b8b8;
    //   cursor: auto;
    // }

    // .styled-checkbox:disabled + label:before {
    //   box-shadow: none;
    //   background-color: #ddd;
    // }

    // .styled-checkbox:checked + label:before {
    //   background-image: url(../img/checked-white.png);
    //   background-color: #1976d2;
    //   border-color: #1976d2;
    // }
  }
}

/*!
=====================================================
                  =   Index Main   =
=====================================================
*/

.index {
  .index-main-side {
    width: 864px;
    .partners-table {
      .partners-table--item {
        .partner-rank,
        .partner-button,
        .partner-logo {
          color: $black;
          text-align: center;
        }
        .partner-info {
          max-width: 333px;
          .icons {
            i {
            }
          }
          .highlights {
            ul {
              li {
                font-size: $ftz-extra-small;
                line-height: 17px;
                display: inline-block;
                &::before {
                  content: '';
                }
              }
            }
          }
        }
       
        .partner-button {
          position: relative;
          .btn {
            padding: 12px 41.5px;
            font-size: $ftz-large;
            font-weight: $fw-600;
            line-height: 20px;
          }
        }
      }
    }
    .index-bottom-text {
      color: $black;
      font-size: $ftz-small;
      margin: 45px 0px 0 0;
      h1 {
        color: $blue;
        font-weight: $fw-600;
        font-size: $ftz-extra-large;
        line-height: 30px;
        margin-bottom: 11px;
      }
      p {
        margin-bottom: 1em;
      }
    }
  }
  .index-aside {
    width: 286px;
    margin-left: 10px;
    padding: 0 0 12px;
    color: $black;
    background-color: $white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    h1 {
      padding: 15px 15px 5px;
      margin: 0;
      color: $blue;
      font-weight: $fw-600;
      font-size: $ftz-extra-large;
    }
    .question {
      padding: 10px 30px 10px 14px;
      h3 {
        font-size: $ftz-small;
        font-weight: $fw-500;
      }
      p {
        line-height: 17px;
        font-size: $ftz-extra-small;
        margin-bottom: 2px;
      }
      a {
        color: $blue;
        font-size: $ftz-extra-small;
        line-height: 23px;
      }
    }
    .question:nth-child(odd) {
      padding: 10px 30px 10px 14px;
      background-color: #f9f9f9;
    }
  }
}
