/*!
=====================================================
                   =   Filter   =
=====================================================
*/

.filter-by {
  margin: 25px 0;
  h1 {
    color: $blue;
    font-size: 25px;
    font-weight: $fw-600;
    line-height: 38px;
    margin-bottom: 10px;
  }
  p {
    width: 80%;
    color: $black;
    text-align: justify;
    font-size: $ftz-small;
    line-height: 21px;
  }
  .filter-block {
    margin: 20px 0;
    position: relative;
    line-height: 17px;
    font-size: $ftz-extra-small;
    label {
      display: inline-block;
      color: $black;
      margin-right: 18px;
    }
    .checkbox-block {
      display: inline-block;
      position: relative;
      padding-left: 19px;
      margin-right: 20px;
      cursor: pointer;
      font-size: $ftz-extra-small;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 13px;
        width: 13px;
        background-color: transparent;
        border: 1px solid $blue;
        border-radius: 2px;
        &::after {
          content: '';
          position: absolute;
          display: none;
        }
        &:after {
          left: 5px;
          top: 0.5px;
          width: 4px;
          height: 11px;
          border: solid $white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
      &:hover input ~ .checkmark {
        background-color: #fff;
      }
      input:checked ~ .checkmark {
        background-color: $blue;
        border: 0px solid transparent;
      }
      input:checked ~ .checkmark:after {
        display: block;
      }
    }
  }
}

/*!
=====================================================
                  =   Index Main   =
=====================================================
*/

.index {
  .index-main-side {
    width: 864px;
    .partners-table {
      .partners-table--item {
        .partner-rank,
        .partner-button,
        .partner-logo {
          color: $black;
          text-align: center;
        }
        .partner-info {
          max-width: 333px;
          .icons {
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
            .icon {
              cursor: pointer;
              position: relative;
              .tooltip-text {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                z-index: 1;
                bottom: 150%;
                left: 50%;
                transform: translateX(-50%);
                padding: 5px 15px;
                text-align: center;
                font-size: $ftz-mini;
                color: $white;
                background-color: $black;
                border-radius: $border-radius-5;
                white-space: nowrap;
                transition: $transition;
                &::after {
                  content: '';
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: $black transparent transparent transparent;
                }
              }
              &:hover {
                .tooltip-text {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
          .highlights {
            ul {
              li {
                font-size: $ftz-extra-small;
                line-height: 17px;
                display: inline-block;
                &::before {
                  content: '';
                  display: inline-block;
                  width: 11px;
                  height: 9px;
                  margin-right: 5px;
                  background-image: url('../img/layers/heartbullet.svg');
                }
              }
            }
          }
        }

        .partner-button {
          position: relative;
          .btn {
            padding: 12px 41.5px;
            font-size: $ftz-large;
            font-weight: $fw-600;
            line-height: 20px;
          }
        }
      }
    }
    .index-bottom-text {
      color: $black;
      font-size: $ftz-small;
      margin: 45px 0px 0 0;
      h1 {
        color: $blue;
        font-weight: $fw-600;
        font-size: $ftz-extra-large;
        line-height: 30px;
        margin-bottom: 11px;
      }
      p {
        margin-bottom: 1em;
      }
    }
  }
  .index-aside {
    width: 286px;
    margin-left: 10px;
    padding: 0 0 12px;
    color: $black;
    background-color: $white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    h1 {
      padding: 15px 15px 5px;
      margin: 0;
      color: $blue;
      font-weight: $fw-600;
      font-size: $ftz-extra-large;
    }
    .question {
      padding: 10px 30px 10px 14px;
      h3 {
        font-size: $ftz-small;
        font-weight: $fw-500;
      }
      p {
        line-height: 17px;
        font-size: $ftz-extra-small;
        margin-bottom: 2px;
      }
      a {
        color: $blue;
        font-size: $ftz-extra-small;
        line-height: 23px;
      }
    }
    .question:nth-child(odd) {
      padding: 10px 30px 10px 14px;
      background-color: #f9f9f9;
    }
  }
}
