/*!
=====================================================
               =   Reviews Page   =
=====================================================
*/

.reviews {
  margin: 50px 0 65px;
  .partners-table {
    .partners-table--item {
      padding: 18px 59px 16px 18px;
      .partner-info {
        max-width: 680px;
        max-height: 100px;
        font-size: $ftz-extra-small;
        color: $black;
        line-height: 17px;
        margin: 0 auto 0 21px;
        p {
          margin: 5px 0;
        }
        .partner-link {
          margin: 0;
          text-align: left;
          color: #b70016;
          font-size: $ftz-extra-small;
          line-height: 23px;
        }
      }
      .partner-button {
        .btn {
          font-weight: $fw-500;
          padding: 15px 45px;
        }
      }
    }
  }
}
